//
// mobile
// 

//type
h1,h2,h3
	margin 28px 0
h4,h5,h6
	margin 14px 0
h1
	font-size 24px
h2
	font-size 20px
h3
	font-size 16px
h4
	font-size 16px
h5,h6
	font-size 12px
p
	margin 12px 0
	font-size 16px	


//container 
.container	
	display block	
.container,#main
	clear both
	width 98%	
	margin 1rem 0 
	padding 0 .4em 

//block
.block
	margin 0
//toc
#toc
	display none
//header
.header
	width 100%
.header-nav
	max-width 100%		
	height 50px
	position relative
	text-align center	
.header-logo
	display inline-block
	font-size 22px	
	margin 0 auto 
	position relative
	left -12px


.header-title
	width auto
	max-width 50%
	font-size 18px
.header-menu
	display none
//mobile menu	
.mobile-toggle
	display inline

.profile
	& .location
		margin .5rem 0
		color $black  
//post
.post
	padding 0 .4em
.post-title
	margin-top 4rem
	font-size 1.25rem
	margin 1.5rem 0 	
.post-info
	width  100%
	margin 0		
.post-time,.post-meta,.post-words
	margin  0
	padding-right .8rem
	text-align left
	

.nav
	margin 1em 0 2em 0
	height 60px
.nav-prev,.nav-next
	font-size 15px
	width 100%
	margin .8em 0
.nav-prev	
	text-align left
.nav-next
	text-align right
#donate-box
	width 94%
	top 50%
	left 3%
	margin-left 0
	border-radius 6px	
	//article	
.article
	margin 10px 0 40px 0
	padding 10px 0
.article-header
	padding 0 
	text-align left
	& time
		font-size 14px
		padding-left 6px
.article-title
	margin 12px 0
	font-size 24px
.article-excerpt p
	margin 12px 0		

//cate
.cate-container
	clearfix()	
	& > div		
		column(6,12)
			
.cate-inner
	padding 10px

//item
.item 
	margin .5rem 8px
.item-date , .item-title
	width 100%
	display block
	clear both	
	text-align left
.item-title
	max-width 100%
	width 100%
	margin 8px 0
.meta-name 
	margin 1em 0	
//archive							

.archive-item
	padding .5rem .5rem 1rem .5rem 
.archive-time		
	position  static		   
.archive-title
	display block
	margin 1rem 0 
	& a
		font-size 1.1rem
//cate
.cate-inner
	margin 0 .5rem 1rem 
//tag
.tag-wrap 
	margin 2px 0 8px 0	

//gallery
.gallery
	display block
	margin-bottom .4rem
	width 100%

//page title
.page-title
	display none
	
//paginator
.prev,.next 
	font-size 14px
//footer
#footer
	display block
	padding 10px
#footer div
	margin 0

//search
.search-widget
	display none
.search-container	
	position fixed 
	margin 0 auto
	left 0
	top 0
	width 100%
	min-height 100%
	border-radius 0
.search-input
	width 80%
.search-result
	padding 4px
	overflow hidden
.search-item
	margin 4px 4px 6px 4px	