
.post-time,.post-words,.post-visitor,.post-meta
  @extend $oneline  
  font-size .9rem  
  color $black    
  margin-right 1.5rem

.post-meta
	& a
		margin-right 0.5rem
	& a:last-child
		margin 0

.category-link,.tag-link	
    font-size .95rem 
    font-family $font
  

.paginator
	margin 5rem 0 2rem
	font-size .95rem
	text-align center
	border-top 1px solid $line-clr
	border-bottom 1px solid $line-clr
	
.page-number,.prev,.next    
	display inline-block
	padding 12px 10px 
	margin 0 2px
	line-height 1	
.extend
	margin 0 8px 
	letter-spacing .8px	
.prev  
  float left  
.next  
  float right
.current
  color $thr-clr

.page-number:hover,.extend:hover
  color $gray
  background-color $shallow 




.profile
	border-bottom 1px solid $line-clr
	margin 0 0 2rem 0 
	padding-bottom 16px
	text-align center		
	& .avatar	
		display block
		width 94px
		height 94px
		padding 4px
		border 1px solid $line-clr
		border-radius 50%
	& .author
		margin .825rem 0 .25rem 
		text-align center	
		font-size 1.125rem
	& .location
		margin 0
		font-size .8rem
		font-family $time-font 
		color $black  
	& .social
		text-align center
		font-size 1.125rem
		& span
			@extends $tips-min 	


.item	
	font-size 1rem
	overflow hidden
	margin 1.6rem 0
	padding 0 2rem
	
		
.item-date		
	float left
	width 25%
	color $black
	text-align right

.item-title
	float left
	margin-left 5%		
	width 70%	
	font-size 1.1rem	
	&:hover		
		color $thr-clr