

.header
  width 100%   
  border-bottom 1px solid $line-clr

.header-nav   
  margin 0 auto  
  max-width 56%
  height 4rem
  line-height 4rem  
  display flex  
  align-items center
  justify-content space-between 
  
.header-logo   
    @extend $oneline
    display inline-block
    max-width 40%
    font 1.625rem $header-font
           
.header-menu
    display flex
    justify-content flex-end
    white-space nowrap  
    
.header-menu-link  
    @extend $oneline    
    margin 0 .85rem 
    font-size .9rem
    display inline-block 
    letter-spacing 1px 
    
//---------js  
.header-static
  position static
  background-color $bgr
.header-fixed
  position fixed
  z-index 999
  top 0
  left 0
  opacity .8
  background-color $white
  transition all .6s   
.header-menu-active  
  border-bottom 1px solid $black      
.header-title
   font-size 1.55rem
//      
// mobile.js
//			
.slide-right
	transform translateX(200px)
	transition .5s
.slide-left
	transform translateX(0px)
	transition .5s
	
.mobile-toggle
	display none
	position relative 
	float left  
	margin-left 12px

.mobile-menu
	display none
	position fixed
	left 0
	top 0    
	width 200px
	height 100%
	background-color $bgr
	z-index 999  
	padding-top 26px
	text-align center
.mobile-menu-link 
	display block
	padding 18px 16px
	line-height 1
	letter-spacing .6px 
.mobile-menu-icon 
	margin 30px auto
	width 40px     
	padding 4px
	border 1px solid $line-clr
	border-radius 5px