//
// header
//
.post-header
  position relative
  &:after
    position absolute
    content " "
    bottom -2rem
    left 30%
    width 40%
    height 1px
    background $line-clr
    
.post-title 
  display block
  font-size 2.6rem
  font-weight 200
  color rgba(0,0,0,.7)
  margin .5rem 0 2.35rem 0   

//
//post
//
.post-content
  margin 5.5rem 0
  & p a 
    @extend $toRight
  & p a,& li a
    &:link,&:visited,&:active 
      color $thr-clr    
    &:hover    
      color $main-clr    

//
// footer
//
.post-footer   
   position relative 
   padding 1rem 0 
   text-align right   
//
// button
//
.donate-btn,.share-btn 
  @extend $tips-min 
  border 1px solid $gray
  border-radius 2px
  cursor pointer
  padding 6px 12px
  margin 0 4px
//-------------donate
#donate-box  
  display none
  width 430px
  height 340px
  padding 20px 0
  position fixed
  left 50%
  top 50%
  margin-top  -215px
  margin-left -190px  
  border-radius 4px 
  z-index 999
  text-align center
  background $bgr
 
.donate-cancel
  position absolute
  top 0
  right 24px
  width 12px  
.donate-img-box
  width 260px
  margin 0 auto 
.donate-word
  display inline-block 
  font-weight 300 
  font-size .9rem
.donate-list 
  height auto
  overflow hidden

//----- donate js
.donate-active
  color $thr-clr
//-------------share
.-mob-share
  display none    
  position fixed
  top 50%
  left 50%
  height 200px
  width 320px
  margin-left -160px
  margin-top -100px
  padding 8px 0   
  text-align center
  background $bgr
  z-index 999 
  border-radius 2px

.-mob-share a 
  padding 4px
  font-size 1.28rem 
  &:hove
    color $thr-clr 

.-mob-share div 
   @extend $tips-min 
   cursor pointer
   display inline-block
   width 25% 
   border 1px solid $gray 
   padding 4px 6px
   margin 4px 
   border-radius 2px
   box-sizing border-box

.-mob-share-weixin-qrcode-bg    
   background-color rgba(0,0,0,.13) !important
  
  
//
// post-nav
// 
.post-nav    
    margin 1.5rem 0 8rem
    padding .9rem 0      
    border-top 1px solid $line-clr
    border-bottom 1px solid $line-clr  
    height 30px     
    text-align center

.post-nav span   
    @extend $tips
    font-weight 300  
    font-size 1.05rem
    padding 4px 12px
    margin 0 1rem     
  

      
      
//
// comment
//
#comment
    margin 1.5rem 0 4rem
    padding-bottom 1rem
    position relative
    &:before
        content "Comment:"
        position absolute
        left 5px
        top -35px
        font-size 1.03rem
        color $black

#comment div
    margin left     

.power,.vempty,.col-60
    visibility hidden

.vnick,.veditor,.vmail,.vempty,.vsubmit   
    font-family $font
    font-size 1rem 
    border-bottom 0 !important

.vsubmit      
    background-color #F5F6FA !important
    border 0 !important
    padding 0 3px !important
    color rgba(0,0,0,.5) !important
    font-weight 300 !important
    letter-spacing .3px
    &:hover 
      color $thr-clr !important
.vcard
    padding 5px 0  0 20px !important  
