

// Fonts
$font-size 		=  15px

$font 			= -apple-system, BlinkMacSystemFont,'Microsoft YaHei','Arial','sans-serif'
$header-font	= 'Century Gothic','Microsoft YaHei','Arial','sans-serif'
$time-font      = 'Microsoft YaHei','Arial','sans-serif'


// Colors
$bgr 		= #fafafa
$line-clr 	= #eeeeee
$border-clr	= #d5dce5
$search-clr = #FBFCFD
$header-clr = #404040

$white 		= #FFFFFF
$gray 		= #d5d5d5
$light-gray = #a0a0a0
$black		= #42505a
$shallow    = #707070
$red        = #cb3837

//default color style
$black-main = #000000
$black-sub  = #727272
$black-thr 	= #e26d6d

$main-clr	 = $black-main
$sub-clr  	 = $black-sub
$thr-clr 	 = $black-thr


// Media queries
// 1024  1280  1366  1440   1600  1920   
mq-mobile   = "screen and (max-width: 479px)"
mq-tablet   = "screen and (min-width: 480px) and (max-width: 768px)"
mq-normal   = "screen and (min-width: 769px) and (max-width: 1599px)"
mq-desktop  = "screen and (min-width: 1600px)"

