// 文章排版


h1,h2,h3,h4,h5,h6   
    line-height 1.35
    color $header-clr
    word-spacing .5px   
    font-weight 300

h1
    font-size 1.6rem
    margin 60px 0 50px 0 
h2  
    margin 40px 0 30px 0 
    font-size 1.4rem
h3
    margin 40px 0 30px 0
    font-size 1.25rem
    
h4,h5,h6
    font-size 1.2rem     

.post-content  p ,.article-excerpt p
   font-weight 300
   letter-spacing .6px
   word-spacing .8px   
   margin 28px 0
   line-height 1.9
   font-size .9rem

strong
   font-weight 500   
   
blockquote
  display block
  letter-spacing .4px
  font-size 1rem
  padding 0 12px
  margin 40px 0 
 
blockquote p  
  margin  0
  padding-left 10px
  border-left 3px solid $sub-clr 
  
hr
  margin 1em 0
  opacity .2
  border .2px solid $gray 
ul,ol
  margin-left 22px
  padding-left 0px
ul p , ol p 
  margin 0

li
  font-size .95rem
  margin 8px 0
  
  

table 
  border-collapse collapse
  border-spacing 0
  font-size 14px
  margin 28px 0
 
    
th
  font-size 0.9rem
  
th,td
  border 1px solid #ddd
  padding .4rem 1rem
  font-weight 300
  margin 28px 0

